html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.dropdown {
  background-color: rgb(234, 229, 89);
  color: rgb(0, 0, 0);
  width: 40vw;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 3vw;
  border-radius: 20px;
  cursor: pointer;
  cursor: hand;
}

.dropdown-list {
  position: relative;
}

.list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.2s;
  width: 40vw;
  height: 30vw;
  overflow: scroll;
  background-color: rgb(234, 229, 89);
  color: rgb(0, 0, 0);
  border-radius: 20px;
}

.dropdown-list:hover .list {
  visibility: visible;
  opacity: 1;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  list-style-type: none;
}

.each-month:hover {
  background-color: rgba(255, 255, 255);
  color: rgba(1, 0, 0);
}

.graph {
  width: 100%;
  height: 60vh;
}
